{{> header}}

<main>
    <article class="article_cards">
    <div class="feed_cards">
            <a href="#">
                <img src="#" alt="">
            </a>
            <h2>{{titel}}</h2>
        </div>
    </article>
</main>

{{> footer}}