{{>header}}

<!--
Hier folgt dann der einzelne Eintrag
-->

<div class="entry">
    <h2>News Eintrag 1</h2>
    <span class="date">11.11.2024</span>
    <p>Der aktuelle Newseintrag von 1</p>
    <p>Der grosse Inhalt des Newsbeitrages...mit viel Text</p>
    <span>Autor: Enrico</span>
</div>

{{>footer}}