{{> header}}

<main>
    <article class="article_cards">
    {{#drinks}}
    <div class="feed_cards">
            <a href="/feed_detail/{{id}}">
                <img src="{{image_path}}" alt="">
            <h2>{{titel}}</h2>
            </a>
    </div>
    {{/drinks}}
</article>
</main>

{{> footer}}

