{{> header}}

<main class="index">
<div class="hero">
</div>
<h1 class="hero_title">Willkommen <br> Bei Stammtisch!</h1>
<p>Auf unserer Seite findest du unzällige Rezepte für deine Lieblingsdrinks für die nächste Party!</p>
<article class="article_cards">
<div class="feed_cards drinkotw">
        <a href="/feed_detail/{{id}}">
            <img src="/images/drink der woche.webp" alt="">
            <h2>Drink der Woche</h2>
            <p>Lightning McQueen</p>
        </a>
    </div>
</article>
</main>

{{> footer}}