{{> header}}

<main>
<div class="hero">
    <h1 class="hero_title">Willkommen <br> Bei Stammtisch!</h1>
</div>
<p>Lorem ipsum dolor sit amet kolag siroa mehga si rapur arez asos ekes</p>
</main>

{{> footer}}