{{> header}}

<main>
    <h1>Registrieren</h1>
    <form action="/login" method="post">
                <input class="form_input" type="text" id="username" name="username" placeholder="Benutzername" required />
                <input class="form_input" type="email" id="email" name="email" placeholder="E-Mail" required />
                <input class="form_input" type="password" id="password" name="password" placeholder="Passwort" required />
                <button class="button" type="submit">Registrieren</button>
    </form>
</main>

{{> footer}}