{{> header}}

<main>
    <div class="search-container">
            <input type="text" id="searchInput" placeholder="Cocktail suchen...">
            <div id="searchResults"></div>
        </div>
</main>

{{> footer}}