{{> header}}

<main>
    <div class="search">
    Suchfeld
    </div>
    <article class="article_cards">
    <div class="feed_cards">
            <a href="#">
                <img src="#" alt="">
                <h2>...</h2>
            </a>
        </div>
    </article>
</main>

{{> footer}}