{{>header}}

<!--
Hier folgen dann alle vorhandenen News einträge
-->
{{#news}}
<div class="entry card col-3">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{short_text}}</p>
        <a href="/news/{{id}}" class="btn btn-primary">Detail</a>
    </div>
    <div class="card-footer text-body-secondary">Autor: {{autor}}</div>
</div>
{{/news}}

{{>footer}}