git pull origin main{{> header}}

<main>
    <div class="feed_cards">
        <a href="#">
            <img src="" alt="">
            <h2>Lightning McQueen</h2>
        </a>
    </div>
    <div class="feed_cards">
            <a href="#">
                <img src="" alt="">
                <h2>Pures Uran</h2>
            </a>
    </div>
    <div class="feed_cards">
            <a href="#">
                <img src="" alt="">
                <h2>Mojito</h2>
            </a>
        </div>
        <div class="feed_cards">
                <a href="#">
                    <img src="" alt="">
                    <h2>Bunzenbrenner</h2>
                </a>
    </div>
</main>

{{> footer}}