* {
    margin: 0px;
    width: 100%;
}

header {
    background-color: #101010;
    width: 100%;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 350px;
    height: auto;
}

/* Verstecke das Menü standardmäßig */
.nav-links {
    display: none;
    flex-direction: column;
    background-color: #101010;
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}

/* Stil für die Menülinks */
.nav-links a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    font-family: Marlboro;
}

/* Stil für das Burger-Icon */
.burger-icon {
    font-size: 60px;
    cursor: pointer;
    color: white;
}




