* {
    margin: 0px;
    width: 100%;
}

header {
    background-color: #101010;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 350px;
    height: auto;
}




.footer-logo img {
    max-width: 150px; /* Logo-Größe anpassen */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1); /* Kleiner Hover-Effekt */
}